<footer class="text-center text-white mt-5">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="pb-4">
      <!-- Mail -->
      <a
        class="btn btn-link btn-floating btn-lg m-1"
        href="mailto:flecchia.tomas@gmail.com"
        role="button"
        data-mdb-ripple-color="dark"
        style="color: #1E3A8A;">
        <i class="fa fa-envelope"></i
      ></a>

      <!-- Phone -->
      <a
        class="btn btn-link btn-floating btn-lg m-1"
        href="tel:#+393520661470"
        role="button"
        data-mdb-ripple-color="dark"
        style="color: #1E3A8A;">
        <i class="fa fa-phone"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg m-1"
        href='https://www.instagram.com/tomiflecchia/'
        target="_blank"
        rel="noopener noreferrer"
        role="button"
        data-mdb-ripple-color="dark"
        style="color: #1E3A8A;">
        <i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg m-1"
        href="https://www.linkedin.com/in/tomasflecchia/"
        target="_blank"
        rel="noopener noreferrer"
        role="button"
        data-mdb-ripple-color="dark"
        style="color: #1E3A8A;">
        <i class="fab fa-linkedin"></i
      ></a>

      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg m-1"
        href="https://github.com/tomasflecchia"
        target="_blank"
        rel="noopener noreferrer"
        role="button"
        data-mdb-ripple-color="dark"
        style="color: #1E3A8A;">
        <i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->
</footer>