<!-- modal_form.html -->
<div class="modal fade" id="popupFormModal" tabindex="-1" aria-labelledby="popupFormModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form class="modal-content" method="POST" action="/submit-form">
      <div class="modal-header">
        <h5 class="modal-title" id="popupFormModalLabel" data-i18n="contact">Contact Me</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="text-align: left; font-family: 'Inter', sans-serif;">
        <div class="mb-3">
          <input type="text" class="form-control" data-i18n-placeholder="placeholder_name" id="name" name="name" required>
        </div>
        <div class="mb-3">
          <input type="email" class="form-control" data-i18n-placeholder="placeholder_mail" id="email" name="email" required>
        </div>
        <div class="mb-3">
              <textarea class="form-control" data-i18n-placeholder="placeholder_text" rows="3" id="text" name="text" required></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-i18n="button_send">Submit</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-i18n="button_close">Close</button>
      </div>
    </form>
  </div>
</div>