<section style="background-color: #3D348B;" id="professional">
  <h2 class="text-warning" style="text-align: center;" data-i18n="professional_title">My Professional Path</h2>

  <div id="professionalCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="card timeline-card mx-auto text-white" style="width: 60%;">
          <img src="static/images/vivero.jpg" class="card-img-top" alt="Agricultural Worker">
          <div class="card-img-overlay d-flex flex-column justify-content-end p-3 overlay-text">
            <h4 class="fw-bold mb-1" data-i18n="first_card">Agricultural Worker</h4>
            <p class="mb-0"><i class="fa fa-location-dot"></i> Vivaio della Zoppa</p>
            <p class="mb-0"><i class="far fa-clock"></i> 2025</p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="card timeline-card mx-auto text-white" style="width: 60%;">
          <img src="static/images/md.jpg" class="card-img-top" alt="Produce Clerk">
          <div class="card-img-overlay d-flex flex-column justify-content-end p-3 overlay-text">
            <h4 class="fw-bold mb-1" data-i18n="second_card">Produce Clerk</h4>
            <p class="mb-0"><i class="fa fa-location-dot"></i> MD S.p.A.</p>
            <p class="mb-0"><i class="far fa-clock"></i> 2024</p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="card timeline-card mx-auto text-white" style="width: 60%;">
          <img src="static/images/napoli.jpg" class="card-img-top" alt="Hostel Supervisor">
          <div class="card-img-overlay d-flex flex-column justify-content-end p-3 overlay-text">
            <h4 class="fw-bold mb-1" data-i18n="third_card">Hostel Supervisor</h4>
            <p class="mb-0"><i class="fa fa-location-dot"></i> Hostel La Fenice</p>
            <p class="mb-0"><i class="far fa-clock"></i> 2023</p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="card timeline-card mx-auto text-white" style="width: 60%;">
          <img src="static/images/abners.jpg" class="card-img-top" alt="Hotel Waiter">
          <div class="card-img-overlay d-flex flex-column justify-content-end p-3 overlay-text">
            <h4 class="fw-bold mb-1" data-i18n="forth_card">Hotel Waiter</h4>
            <p class="mb-0"><i class="fa fa-location-dot"></i> Hotel Abners</p>
            <p class="mb-0"><i class="far fa-clock"></i> 2022</p>
          </div>
        </div>
      </div>


    </div>

    <!-- Carousel controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#professionalCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#professionalCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>
</section>
