<div class="album" id="projects">
    <h2 class="section-header py-4" data-i18n="projects_title">My Personal Projects</h2>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card projects-card mb-4">
                  <div class="ratio ratio-16x9">
                    <img src="static/images/mantrika.png" class="card-img-top" alt="Website">
                  </div>
                  <div class="card-body">
                    <p class="card-text" data-i18n="first_project">
                      Website for my Girlfriend's Massage Studio.
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="https://www.mantrika.it" class="btn btn-sm btn-outline-secondary" role="button" data-i18n="button_view">View</a>
                        <a href="https://www.mantrika.it" class="btn btn-sm btn-outline-secondary" role="button" target="_blank" rel="noopener noreferrer" data-i18n="button_tab">Open in New Tab</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <div class="col-md-4">
              <div class="card projects-card mb-4">
                <div class="ratio ratio-16x9">
                  <img src="static/images/todo-website.png" class="card-img-top" alt="To-Do Website">
                </div>
                <div class="card-body">
                  <p class="card-text" data-i18n="second_project">
                    To-Do Website with Login and DB.
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="https://www.mantrika.it" class="btn btn-sm btn-outline-secondary" role="button" data-i18n="button_view">View</a>
                      <a href="https://www.mantrika.it" class="btn btn-sm btn-outline-secondary" role="button" target="_blank" rel="noopener noreferrer" data-i18n="button_tab">Open in New Tab</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>


        </div>

    </div>
</div>
